<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nasaearthyimage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.finalproject.trang_nguyen.BBC_ListView"/>
        <activity android:name="com.example.finalproject.trang_nguyen.BBCNewsMain"/>
        <activity android:name="com.example.finalproject.trang_nguyen.BlankFragment_bbc"/>
        <activity android:name="com.example.finalproject.phong_tran.EarthSavedImageList"/>
        <activity android:name="com.example.finalproject.phong_tran.InformationPage" />
        <activity android:name="com.example.finalproject.abraham_mansour.NasaImageOfTheDay" />
        <activity android:name="com.example.finalproject.abraham_mansour.PreviusRecord" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianNavigationDrawer" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianArticleList" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianDetailActivity" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianSearchFragment" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianArticle" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianDatabase" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianAdapter" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianGet" />
        <activity android:name="com.example.finalproject.ny_nguyen.TheGuardianMainPage" />
        <activity android:name="com.example.finalproject.ApplicationHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>